@font-face {
    font-family: "Socialico";
    src: url('../fonts/Socialico.eot');
    /* IE 5-8 */
    src: local(''), /* sneakily trick IE */
    url('../fonts/Socialico.woff') format('woff'), /* FF 3.6, Chrome 5, IE9 */
    url('../fonts/Socialico.ttf') format('truetype'), /* Opera, Safari */
    url('../fonts/Socialico.svg#Socialico') format('svg');
    /* iOS */
}

body {
    margin: 0 auto;
    font-family: Arial;
}

.container {
    margin: 0 auto;
    min-width: 1280px;
    max-width: 1920px;
}


/*Шапка*/

.top_header {
    width: 100%;
    min-height: 323px;
    background-color: #445161;
    display: flex;
    justify-content: flex-start;
}

.header_about_product {
    width: 50%;
    margin: 50px;
}

.header_title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.header_img {
    margin: 50px;
    width: 469px;
    height: 214px;
    text-decoration: none;
}

.header_list {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 35px;
    margin: 0 0 0 30;
    list-style-type: none;
}

.header_list li {
    position: relative;
}

.header_list li:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 7px;
    left: -30px;
    background-image: url(../img/check_icon.png);
    background-size: cover;
}


/* Блок "About your product"*/

.about_product {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
}

.about {
    width: 50%;
    margin: 50px;
    word-wrap: break-word;
}

.about_title {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.product_video {
    background-color: #445161;
    margin: 50px;
}


/*Блок "Dignity and pluses product"*/

.dignity {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

.dignity_title {
    display: block;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    margin: 50px 0 29px 0;
}

.dignity_wrapper_main {
    margin: 0 50px 15px 21px;
    display: flex;
    flex-wrap: wrap;
}

.dignity_wrapper {
    width: 50%;
    box-sizing: border-box;
}

.pluses {
    margin: 0 0 0 69px;
}

.pluses summary {
    position: relative;
    outline: none;
    text-align: left;
    margin-bottom: 35px;
}

.pluses summary::-webkit-details-marker {
    display: none;
}

.pluses summary:before {
    background: #445161;
    content: "+";
    color: #fff;
    display: block;
    line-height: 32px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: -40px;
    text-align: center;
    font-size: 2.5em;
}

details[open] summary:before {
    content: "-";
}

.pluses p {
    text-align: left;
}


/*Блок "The description of the image"*/

.scrinshots {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.scrinshot_title {
    display: block;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    margin: 50px 0 5px 0;
}

.scrinshots-wrapper_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px 35px 50px;
}

.scrinshots-wrapper {
    width: 50%;
}

.screenshot-text span {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-right: 15px;
}

.screenshot-text p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 15px;
}

.screenshot_block {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
}

.screenshot_block:before {
    content: url(../img/product_screenshot.png);
    height: 150px;
    margin: 0 15px 0 0;
    display: block;
}


/*Блок "Reviews"*/

.reviews {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
}

.reviews-title {
    display: block;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    margin: 50px 0 5px 0;
}

.reviews-wrapper_main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px 50px 20px;
}

.reviws-wrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.review-block {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
}

.review-text {
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
    background-color: #ebebeb;
    border: 20px solid #ebebeb;
    border-radius: 7px;
    position: relative;
}

.review-text span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #989898;
}

.review-text:before {
    position: absolute;
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    top: 5px;
    left: -48px;
}

.review-pic:before {
    content: "";
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 30px 0 30px;
    background-image: url(../img/user_img.png);
    border-radius: 50px;
}


/* Блок "Price" */

.price {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.price-title {
    display: block;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    margin: 50px 0 0 0;
}

.price-wrapper_main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 30px 145px 50px 145px;
}

.price-item {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background-color: #445161;
    border-radius: 5px;
}

.price-item_title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    text-align: center;
    width: 100%;
    margin: 15px 0 0 0;
}

.price-item_coast {
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    text-align: center;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 20px 10px 20px 10px;
    background-color: #ffffff;
    border: 2px solid #445162;
}

.price-item_list {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    list-style-position: inside;
    padding: 0 20px 0 20px;
}

.price-item_link {
    text-decoration: none;
    display: block;
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #445161;
    border-radius: 5px;
    margin: 0 20px 20px 20px;
    line-height: 40px;
}


/* Футер.Блок "Contacts".Форма */

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #445161;
}

.main-footer_title {
    display: block;
    width: 100%;
    margin: 50px 0 30px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.main-footer_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 50px 0;
}

.main-footer_form input[type="text"],
.main-footer_form input[type="email"],
.main-footer_form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #445161;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

.main-footer_form input[type="text"]:hover,
.main-footer_form input[type="email"]:hover,
.main-footer_form textarea:hover {
    background-color: #989898;
    color: #ffffff;
    border-color: #ffffff;
}

.main-footer_form input[type="text"]:hover::placeholder,
.main-footer_form input[type="email"]:hover::placeholder,
.main-footer_form textarea:hover::placeholder {
    color: #ffffff;
}

.main-footer_form input[type="text"] {
    text-transform: capitalize;
}

.main-footer_form textarea {
    width: 500px;
    height: 170px;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
}

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

input[placeholder]::-webkit-input-placeholder {
    color: #445162;
}

textarea[placeholder]::-webkit-input-placeholder {
    color: #445162;
}

input[placeholder]::-moz-placeholder {
    color: #445162;
}

textarea[placeholder]::-moz-placeholder {
    color: #445162;
}

.main-footer_form input[type="submit"] {
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    outline: none;
}

.main-footer_form input[type="submit"]:hover {
    background-color: #989898;
    color: #ffffff;
}

.main-footer_form input[type="submit"]:active {
    background-color: #ffffff;
    color: #445162;
}


/*Футер.Блок "Contacts".Контакты и соцсети*/

.main-footer_contacts {}

.main-footer_contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contacts-list li {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 30px 30px;
    position: relative;
}

.contacts-list_item-skype:before {
    content: "";
    background-image: url(../img/skype_icon_contacts.png);
    background-size: cover;
    position: absolute;
    left: -30px;
    display: block;
    width: 24px;
    height: 26px;
}

.contacts-list_item-isq:before {
    content: "";
    background-image: url(../img/icq_icon_contacts.png);
    background-size: cover;
    position: absolute;
    left: -30px;
    display: block;
    width: 26px;
    height: 26px;
}

.contacts-list_item-mail:before {
    content: "";
    background-image: url(../img/email_icon_contacts.png);
    background-size: cover;
    position: absolute;
    left: -30px;
    display: block;
    width: 22px;
    height: 22px;
}

.contacts-list_item-phone:before {
    content: "";
    background-image: url(../img/phone_icon_contacts.png);
    background-size: cover;
    position: absolute;
    left: -30px;
    display: block;
    width: 24px;
    height: 23px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
}

.social-list_item {
    margin-right: 10px;
}

.social-list_item a {
    text-decoration: none;
    outline: none;
    display: block;
    font-family: Socialico;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}


/* Футер. Блок "copyright"*/

.copyright {
    width: 100%;
    background-color: #f5f5f5;
}

.copyright span {
    display: block;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}